doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Robert Cooper
    meta(name='description', content='Web developer')
    meta(name='author', content='Robert Cooper')
    // Facebook Open Graph & Twitter Meta
    meta(property='og:title', content='Robert Cooper | Web Developer')
    meta(property='og:description', content='Web developer')
    meta(property='og:image', content='http://www.robertcooper.me/img/facebook-share-image.jpg')
    meta(property='og:url', content='http://www.robertcooper.me')
    meta(name='twitter:card', content='summary_large_image')
    // Responsive View Meta
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico in the root directory
    link(rel='icon', href='/public/favicon.ico', type='image/x-icon')
    // iOS Saved Website App Icon
    link(rel='apple-touch-icon', href='/img/ios-icon.png')
    // iOS Saved Website App Title
    meta(name='apple-mobile-web-app-title', content='Robert Cooper')
    // Main Style
    if (environment === "development")
      link(rel='stylesheet', href='/css/main.css')
    else
      link(rel='stylesheet', href='/css/main.min.css')
  body
    section.intro
      .intro__image
      .intro__content
        h1.intro__content-name Robert Cooper
        h2.intro__title
          | Web Developer
      .intro__social
        a(href='https://github.com/robertcoopercode', target='_blank')
          i.fa.fa-github.fa-2x.fa-social
        a(href='https://codepen.io/robertcooper_rc/', target='_blank')
          i.fa.fa-codepen.fa-2x.fa-social
        a(href='https://medium.com/@robertcooper_rc', target='_blank')
          i.fa.fa-medium.fa-2x.fa-social
        a(href='https://twitter.com/RobertCooper_RC', target='_blank')
          i.fa.fa-twitter.fa-2x.fa-social
        a(href='https://www.linkedin.com/in/robert-cooper/', target='_blank')
          i.fa.fa-linkedin.fa-2x.fa-social
        a(href='mailto:hi@robertcooper.me')
          i.fa.fa-envelope.fa-2x.fa-social
    section.about
      .max-width-container.about__container
        .about__description-column
          h2.about__title About
          p.about__description
            | Hi, I'm Robert Cooper, a full stack web developer.
          p.about__description
            | I started teaching myself web development in 2016 at which time I was not enjoying the engineering work experience I had accumulated while still in university. I am now a working at 
            a(href='http://osedea.com', target='_blank') Osedea
            |  as a junior full stack developer in Montreal, Canada.
          p.about__last-updated 📅 Last updated January 11th, 2018
          a.button(href='/documents/resume.pdf', target='_blank') View my Resume
        .about__headshot-column
          img.about__headshot(src='/img/headshot.jpeg')
    section.statistics
      .max-width-container
        h2.statistics__title Stats
        .statistics__columns
          .statistics-column.statistics__column#github
            .statistics-column__title-container
              .keyboard.statistics-column__icon.statistics-column__icon_left
              h3.statistics-column__title Github Commits
              .keyboard.statistics-column__icon.statistics-column__icon_right
            .api
              .api__loader
                div
                div
                div
                div
                div
              p.api__data-container
                span.api__data
                span.api__data-description total commits today.
            p.api__info
              | Data gathered from the 
              a(href='https://developer.github.com/v3/', target='_blank') Github
              |  API.
          .statistics-column.statistics__column#goodreads
            .statistics-column__title-container
              .book.statistics-column__icon.statistics-column__icon_left
              h3.statistics-column__title Currently Reading
              .book.statistics-column__icon.statistics-column__icon_right
            .api
              .api__loader
                div
                div
                div
                div
                div
              ul.api__data-container.api__data-container--list
            p.api__info
              | Data gathered from the 
              a(href='https://www.goodreads.com/api', target='_blank') Goodreads
              |  API.
          .statistics-column.statistics__column#strava
            .statistics-column__title-container
              .running-man.statistics-column__icon.statistics-column__icon_left
              h3.statistics-column__title Last Run
              .running-man.statistics-column__icon.statistics-column__icon_right
            .api
              .api__loader
                div
                div
                div
                div
                div
              p.api__data-container.running-date
                span.api__data
                span.api__data-description is the date of my last run.
              p.api__data-container.running-distance
                span.api__data
                span.api__data-description km ran.
              p.api__data-container.running-duration
                span.api__data
                span.api__data-description in duration.
            p.api__info
              | Data gathered from the 
              a(href='http://strava.com', target='_blank') Strava
              |  API.
    section.blog
      .max-width-container.blog__container
        h2.blog__title Blog Articles
        p.blog__description
          | Here are my 3 most recent articles that i've written on 
          a(href='https://medium.com/@robertcooper_rc', target='_blank') Medium
          | .
        .api__loader
          div
          div
          div
          div
          div
        .blog__posts
          - for (var i = 1; i <= 3; i++)
            .post(id = "post" + i)
              .post__title-container
                span.post__claps
                a(target="_blank").post__title-link
                  h3.post__title
              p.post__excerpt
              a(target="_blank").post__button.button Read More
    -
      var portfolio = [
        {
          title: 'Public Wifi Speeds',
          description: 'An application that allows users to record the wifi speeds they encounter at public places and aggregates the data for others to see.',
          tags: ['react', 'firebase', 'google maps api', 'javascript', 'sass', 'authentication'],
          images: [
            {
              url: '/img/wifi-speeds.jpg',
              description: 'home page'
            },
            {
              url: '/img/wifi-speeds-2.jpeg',
              description: 'login page'
            },
            {
              url: '/img/wifi-speeds-3.jpeg',
              description: 'add entry modal'
            }
          ],
          links: [
            {
              type: 'Website',
              url: 'https://publicwifispeeds.firebaseapp.com/',
              class: 'demo'
            },
            {
              type: 'Screenshots',
              url: 'javascript:void(0)',
              class: 'screenshots'
            },
            {
              type: 'Github',
              url: 'https://github.com/robertcoopercode/public-wifi-speeds',
              class: 'github'
            },
          ]
        },
        {
          title: 'Twitter Clone',
          description: 'A similar application to Twitter that is build with Node.js. The styling of the app is based off of Twitter\'s night mode on desktop.',
          tags: ['node.js', 'express', 'yarn', 'javascript', 'sass', 'gulp'],
          images: [
            {
              url: '/img/twitter-clone.jpg',
              description: 'Twitter clone home page'
            },
            {
              url: '/img/twitter-clone-2.jpg',
              description: 'Twitter clone profile page'
            }
          ],
          links: [
            {
              type: 'Website',
              url: 'http://nitter.herokuapp.com/',
              class: 'demo'
            },
            {
              type: 'Screenshots',
              url: 'javascript:void(0)',
              class: 'screenshots'
            },
            {
              type: 'Github',
              url: 'https://github.com/vinitkumar/node-twitter',
              class: 'github'
            }
          ]
        },
        {
          title: 'Stranger Ipsum',
          description: 'A lorem ipsum generator that generates paragraphs containing quotes from from the Netflix series Stranger Things.',
          tags: ['node.js', 'express', 'javascript', 'sass', 'gulp'],
          images: [
            {
              url: '/img/lorem-ipsum-screenshot.jpg',
              description: 'main page no text generated'
            },
            {
              url: '/img/lorem-ipsum-screenshot-2.jpg',
              description: 'main page with generated text'
            }
          ],
          links: [
            {
              type: 'Website',
              url: 'http://stranger-ipsum.robertcooper.me/',
              class: 'demo'
            },
            {
              type: 'Screenshots',
              url: 'javascript:void(0)',
              class: 'screenshots'
            },
            {
              type: 'Github',
              url: 'https://github.com/robertcoopercode/stranger-ipsum',
              class: 'github'
            }
          ]
        },
        {
          title: 'CUTC 2017 Website',
          description: 'The website for the 2017 Canadian Undergraduate Technology Conference. I was the director of technology for the conference and I was responsible for building the website along with another team member.',
          tags: ['javascript', 'html', 'css'],
          images: [
            {
              url: '/img/cutc-screenshot.png',
              description: 'website\'s top section'
            },
            {
              url: '/img/cutc-screenshot-2.png',
              description: 'speaker\'s modal'
            },
            {
              url: '/img/cutc-screenshot-3.png',
              description: 'integrated google maps'
            }
          ],
          links: [
            {
              type: 'Website',
              url: 'http://2017.cutc.ca/',
              class: 'demo'
            },
            {
              type: 'Screenshots',
              url: 'javascript:void(0)',
              class: 'screenshots'
            },
            {
              type: 'Github',
              url: 'https://github.com/robertcoopercode/elevate.cutc.ca',
              class: 'github'
            }
          ]
        },
        {
          title: 'Queen\'s Engineering Forum',
          description: 'An online forum that I helped to build as part of the Engineering Society I.T. Team at Queen\'s University. The project wasn\'t completed and I continued working on the project on my own after the 2016/2017 school year.',
          tags: ['node.js', 'javascript', 'mysql'],
          images: [
            {
              url: '/img/forum-screenshot.png',
              description: 'login page'
            },
            {
              url: '/img/forum-screenshot-2.png',
              description: 'search page'
            }
          ],
          links: [
            {
              type: 'Screenshots',
              url: 'javascript:void(0)',
              class: 'screenshots'
            },
            {
              type: 'Github',
              url: 'https://github.com/robertcoopercode/engineering-forum-mysql',
              class: 'github'
            }
          ]
        },
        {
          title: 'Kingston Young Professionals Website',
          description: 'I built a brand new website for the Kingston Young Professionals ,where they could post young professional spotlights, list their upcoming events, have site visitors sign up for their mailing list, and display any other information relevant to the organization.',
          tags: ['wordpress', 'cms', 'css'],
          images: [
            {
              url: '/img/kyp-screenshot.jpg',
              description: 'home page'
            },
            {
              url: '/img/kyp-screenshot-2.jpg',
              description: 'Newsletter sign up'
            },
            {
              url: '/img/kyp-screenshot-3.jpg',
              description: 'Young Professional Spotlight blog section'
            },
            {
              url: '/img/kyp-screenshot-4.jpg',
              description: 'upcoming event listing'
            }
          ],
          links: [
            {
              type: 'Website',
              url: 'https://www.kingstonyoungprofessionals.com/',
              class: 'demo'
            },
            {
              type: 'Screenshots',
              url: 'javascript:void(0)',
              class: 'screenshots'
            }
          ]
        }
      ]
    section.portfolio
      .max-width-container.portfolio__container
        h2.portfolio__title Portfolio
        p.portfolio__description
          | Here is a list of some of the projects i've worked on. For additional projects I've participated in, please have a look at my 
          a(href='https://github.com/robertcoopercode', target="_blank") GitHub profile
          |  or my 
          a(href='https://codepen.io/robertcooper_rc/', target="_blank") CodePen profile
          | .
        .portfolio__items
          each item, index in portfolio
            .portfolio-item.portfolio__item
              h3.portfolio-item__title= item.title
              p.portfolio-item__description= item.description
              .portfolio-item__tags
                each tag in item.tags
                  span.portfolio-item__tag= tag
              .portfolio-image-wrapper
                img(src=item.images[0].url)
                .portfolio-buttons
                  each link in item.links
                    a(href=link.url, target='_blank', class=link.class).button= link.type
              .carousel-wrapper
               .carousel.slide(data-ride='carousel', id='carousel-portfolio-' + index)
                  // Indicators
                  ol.carousel-indicators
                    each image, imageIndex in item.images
                      if imageIndex === 0
                        li.active(data-target='#carousel-portfolio-' + index, data-slide-to=imageIndex)
                      else
                        li(data-target='#carousel-portfolio-' + index, data-slide-to=imageIndex)
                  // Wrapper for slides
                  .carousel-inner(role='listbox')
                    each image, imageIndex in item.images
                      if imageIndex === 0
                        .carousel-item.active
                          img(src=image.url, alt=image.description)
                      else 
                        .carousel-item
                          img(src=image.url, alt=image.description)
                  // Controls
                  a.carousel-control-prev(href='#carousel-portfolio-' + index, role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                  a.carousel-control-next(href='#carousel-portfolio-' + index, role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
    // Concatenated and Minified JS Files
    if (environment === "development")
      script(src='/js/index.js')
    else
      script(src='/js/index.min.js?v=1.1')
    // Google Analytics
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-80196253-8','auto');ga('send','pageview');
