doctype html
html(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Robert Cooper | Web Developer
    meta(name='description', content='Web development, design, business, fitness and coffee.')
    meta(name='author', content='Robert Cooper')
    // Facebook Open Graph & Twitter Meta
    meta(property='og:title', content='Robert Cooper | Web Developer')
    meta(property='og:description', content='Web development, design, business, fitness and coffee.')
    meta(property='og:image', content='http://www.robertcooper.me/img/facebook-share-image.jpg')
    meta(property='og:url', content='http://www.robertcooper.me')
    meta(name='twitter:card', content='summary_large_image')
    // Responsive View Meta
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico in the root directory
    link(rel='icon', href='/public/favicon.ico', type='image/x-icon')
    // iOS Saved Website App Icon
    link(rel='apple-touch-icon', href='/img/ios-icon.png')
    // iOS Saved Website App Title
    meta(name='apple-mobile-web-app-title', content='RC Website')
    // Main Style
    link(rel='stylesheet', href='/css/main.min.css')
  body
    // === Header Section ===
    #container.container-fluid
      // +++ Intro Section ++++
      section.intro.row
        // Intro Section Background-image
        .intro-image
        // ====+++ Intro Section Content +++====
        .intro-content.text-center
          // Logo
          .logo
            h2.text-logo Robert Cooper
          // /End logo
          // ==== Main Heading ====
          h1.intro-title
            | Web Development
            span.period .
            |  Design
            span.period .
            |  Business
            span.period .
            |  Fitness
            span.period .
            |  Coffee
            span.period .
        // /End Intro Section Content
        | \
        // ==== Intro Section Bottom Content ====
        .container-bottom-content
          // ==== Social Links ====
          .social
            a(href='https://www.facebook.com/Robert.Cooper.Qu', target='_blank')
              i.fa.fa-facebook.fa-2x.fa-social
            a(href='https://twitter.com/RobertCooper_RC', target='_blank')
              i.fa.fa-twitter.fa-2x.fa-social
            a(href='https://www.linkedin.com/in/robert-cooper/', target='_blank')
              i.fa.fa-linkedin.fa-2x.fa-social
            a(href='https://www.instagram.com/robert.cooper.qu', target='_blank')
              i.fa.fa-instagram.fa-2x.fa-social
            a(href='https://github.com/Engineering-Robert', target='_blank')
              i.fa.fa-github.fa-2x.fa-social
            a(href='https://medium.com/@robertcooper_18384', target='_blank')
              i.fa.fa-medium.fa-2x.fa-social
            a(href='mailto:hi@robertcooper.me', target='_blank')
              i.fa.fa-envelope.fa-2x.fa-social
          // /End Social Links
        // /End Intro Section Bottom Content
      // /end intro section
      section.about.row
        .max-width-container.about-container
          .col-sm-8.description-column
            .title-section
              h2 About
            p
              | Hi, I'm Robert Cooper, a highly motivated person that has an eye for detail and a passion for technology. I graduated from 
              a(href='http://queensu.ca', target='_blank') Queen's University
              |  with a Bachelor of Science in Mechanical Engineering in April of 2017. During my time at university I enjoyed to the programming aspect involved in my courses and started to look into opportunities involved with web development.
            p
              | In the summer of 2016, I ran my own web design business where I designed websites for small business owners using WordPress and Shopify. In the fall of 2016, I shutdown the business to finish my final year of studies. During that last year of University I became involved in as many web development opportunities as I could. Between the fall of 2016 up until my graduation in April of 2017, I took on the role of Director of Technology for a technology conference, worked part-time building websites for a digital marketing agency, and was involved as a member of the Engineering Society IT team where we built an online student forum.
            a.button(href='/documents/Resume.pdf', target='_blank') View my Resume
          .col-sm-4.text-center.headshot-column
            img.headshot(src='/img/headshot.jpeg')
      section.statistics.row
        .max-width-container
          h2.section-title Stats
          .statistics-columns
            .col-sm-6.statistics-column
              .title-section
                .running-man.left
                h3 Last Run
                .running-man.right
              .api-data-section
                p.running-date
                  span.api-data
                  span is the date of my last run.
                p.running-distance
                  span.api-data
                  span km ran.
                p.running-duration
                  span.api-data
                  span in duration.
              p.more-info
                | Data gathered from the 
                a(href='http://strava.com', target='_blank') Strava
                |  API.
            .col-sm-6.statistics-column
              .title-section
                i.fa.fa-clock-o.fa-spin.fa-2x.fa-clock-spin.left
                h3 Daily Hours
                i.fa.fa-clock-o.fa-spin.fa-2x.fa-clock-spin.right
              .api-data-section
                p.web-development-hours
                  span.api-data
                  span on web development.
                p.distracted-hours 
                  span.api-data
                  span on social media and other non productive things.
              p.more-info
                | Data gathered from the 
                a(href='http://rescuetime.com', target='_blank') Rescue Time
                |  API.
      section.blog.row
        .max-width-container.about-container
          .col-sm-12
            .title-section
              h2 Blog Articles
            p
              | Here are my 3 most recent articles that i've writen on 
              a(href='https://medium.com/@robertcooper_18384') Medium
              | .
            div#first-post.post
              h3 
                a(href='' target='_blank') 
              p= mediumExcerpt1
              p
                a(href='' target='_blank' class="button") Read More
            div#second-post.post
              h3 
                a(href='' target='_blank') 
              p= mediumExcerpt2
              p
                a(href='' target='_blank' class="button") Read More 
            div#third-post.post
              h3 
                a(href='' target='_blank') 
              p= mediumExcerpt3
              p
                a(href='' target='_blank' class="button") Read More  
    // Concatenated JS Files
    script(src='/js/index.min.js?v=1.0')
    // Google Analytics
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-80196253-8','auto');ga('send','pageview');
