-
  var portfolio = [
    {
      title: 'Public Wifi Speeds',
      description: 'An application that allows users to record the wifi speeds they encounter at public places and aggregates the data for others to see.',
      tags: ['react', 'firebase', 'google maps api', 'javascript', 'sass', 'authentication'],
      images: [
        {
          url: '/img/wifi-speeds.jpg',
          description: 'home page'
        },
        {
          url: '/img/wifi-speeds-2.jpeg',
          description: 'login page'
        },
        {
          url: '/img/wifi-speeds-3.jpeg',
          description: 'add entry modal'
        }
      ],
      links: [
        {
          type: 'Website',
          url: 'https://publicwifispeeds.firebaseapp.com/',
          class: 'demo'
        },
        {
          type: 'Screenshots',
          url: 'javascript:void(0)',
          class: 'screenshots'
        },
        {
          type: 'Github',
          url: 'https://github.com/robertcoopercode/public-wifi-speeds',
          class: 'github'
        },
      ]
    },
    {
      title: 'Twitter Clone',
      description: 'A similar application to Twitter that is build with Node.js. The styling of the app is based off of Twitter\'s night mode on desktop.',
      tags: ['node.js', 'express', 'yarn', 'javascript', 'sass', 'gulp'],
      images: [
        {
          url: '/img/twitter-clone.jpg',
          description: 'Twitter clone home page'
        },
        {
          url: '/img/twitter-clone-2.jpg',
          description: 'Twitter clone profile page'
        }
      ],
      links: [
        {
          type: 'Website',
          url: 'http://nitter.herokuapp.com/',
          class: 'demo'
        },
        {
          type: 'Screenshots',
          url: 'javascript:void(0)',
          class: 'screenshots'
        },
        {
          type: 'Github',
          url: 'https://github.com/vinitkumar/node-twitter',
          class: 'github'
        }
      ]
    },
    {
      title: 'Stranger Ipsum',
      description: 'A lorem ipsum generator that generates paragraphs containing quotes from from the Netflix series Stranger Things.',
      tags: ['node.js', 'express', 'javascript', 'sass', 'gulp'],
      images: [
        {
          url: '/img/lorem-ipsum-screenshot.jpg',
          description: 'main page no text generated'
        },
        {
          url: '/img/lorem-ipsum-screenshot-2.jpg',
          description: 'main page with generated text'
        }
      ],
      links: [
        {
          type: 'Website',
          url: 'http://stranger-ipsum.robertcooper.me/',
          class: 'demo'
        },
        {
          type: 'Screenshots',
          url: 'javascript:void(0)',
          class: 'screenshots'
        },
        {
          type: 'Github',
          url: 'https://github.com/robertcoopercode/stranger-ipsum',
          class: 'github'
        }
      ]
    },
    {
      title: 'CUTC 2017 Website',
      description: 'The website for the 2017 Canadian Undergraduate Technology Conference. I was the director of technology for the conference and I was responsible for building the website along with another team member.',
      tags: ['javascript', 'html', 'css'],
      images: [
        {
          url: '/img/cutc-screenshot.png',
          description: 'website\'s top section'
        },
        {
          url: '/img/cutc-screenshot-2.png',
          description: 'speaker\'s modal'
        },
        {
          url: '/img/cutc-screenshot-3.png',
          description: 'integrated google maps'
        }
      ],
      links: [
        {
          type: 'Website',
          url: 'http://2017.cutc.ca/',
          class: 'demo'
        },
        {
          type: 'Screenshots',
          url: 'javascript:void(0)',
          class: 'screenshots'
        },
        {
          type: 'Github',
          url: 'https://github.com/robertcoopercode/elevate.cutc.ca',
          class: 'github'
        }
      ]
    }
  ]
section.portfolio.section.section--light
  .portfolio__container.max-width-container
    h2.section__title.section__title--portfolio Portfolio
    p.portfolio__description
      | Here is a list of some of the open source projects i've worked on. For additional projects I've participated in, please have a look at my 
      a(href='https://github.com/robertcoopercode', target="_blank") GitHub profile
      |  or my 
      a(href='https://codepen.io/robertcooper_rc/', target="_blank") CodePen profile
      | .
    .portfolio__items
      each item, index in portfolio
        .portfolio-item.portfolio__item
          h3.portfolio-item__title= item.title
          p.portfolio-item__description= item.description
          .portfolio-item__tags.tags
            each tag in item.tags
              span.portfolio-item__tag.tags__tag= tag
          .portfolio-image-wrapper
            img(src=item.images[0].url)
            .portfolio-buttons
              each link in item.links
                a(href=link.url, target='_blank', class=link.class).button= link.type
          .carousel-wrapper
            .carousel.slide(data-ride='carousel', id='carousel-portfolio-' + index)
              // Indicators
              ol.carousel-indicators
                each image, imageIndex in item.images
                  if imageIndex === 0
                    li.active(data-target='#carousel-portfolio-' + index, data-slide-to=imageIndex)
                  else
                    li(data-target='#carousel-portfolio-' + index, data-slide-to=imageIndex)
              // Wrapper for slides
              .carousel-inner(role='listbox')
                each image, imageIndex in item.images
                  if imageIndex === 0
                    .carousel-item.active
                      img(src=image.url, alt=image.description)
                  else 
                    .carousel-item
                      img(src=image.url, alt=image.description)
              // Controls
              a.carousel-control-prev.carousel-control(href='#carousel-portfolio-' + index, role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next.carousel-control(href='#carousel-portfolio-' + index, role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next